# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore Bundler vendored files
vendor/bundle

# Ignore pre-compiled assets
public/assets

# Ignore minitest-ci reports
test/reports

# Ignore .env .env.production
.env
.env.production

# Ignore simplecov output
coverage

# Ignore NetBeans workspace
/nbproject
