<% provide(:title, "Welcome") %>

    <header>
      <div id="btaa-header">
        <div class='container'>
          <div class='row'>
            <div class='col-sm-12'>
              <div id="cic-header-navbar" class="navbar navbar-static-top">
                <div class="navbar-header">
                  <%= link_to image_tag('btaa-logo.jpg', alt: 'Big Ten Academic Alliance', height: '100px', style: 'margin-top:5px'), 'https://www.btaa.org/' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div id='application-header'>
        <div class='container'>
          <div class='row'>
            <div class='col-sm-12'>
              <div id="header-navbar" class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                  <a class="navbar-brand" style="font-weight:bold; font-size:36px" href="/">Reciprocal Borrowing</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='row'>
              <div id='project-text'>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="home-metadata" role="main">
      <div class='container'>
        <div class='row'>
          <div class='col-sm-12'>
            <ul>
              <li><a href="http://www.google.com">University of Illinois</a></li>
              <li><a href="http://www.google.com">Indiana University</a></li>
              <li><a href="http://www.google.com">University of Iowa</a></li>
              <li><a href="http://192.168.33.20/initiate/umd">University of Maryland</a></li>
              <li><a href="http://www.google.com">University of Michigan</a></li>
              <li><a href="http://www.google.com">Michigan State University</a></li>
              <li><a href="http://www.google.com">University of Minnesota</a></li>
              <li><a href="http://www.google.com">University of Nebraska-Lincoln</a></li>
              <li><a href="http://www.google.com">Northwestern University</a></li>
              <li><a href="http://www.google.com">Ohio State University</a></li>
              <li><a href="http://www.google.com">Pennsylvania State University</a></li>
              <li><a href="http://www.google.com">Purdue University</a></li>
              <li><a href="http://www.google.com">Rutgers University</a></li>
              <li><a href="http://www.google.com">University of Wisconsin-Madison</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="application-footer">
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12' id='footer-lib'>
            <div class='row'>
              <div class='col-sm-10'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <h3>Big Ten Academic Alliance Reciprocal Borrowing</h3>
                    <ul class='list-horizontal list-unstyled'>
                      <li>
                        <a href="/about">About Us</a>
                      </li>
                      <li>
                        <a href='https://docs.google.com/a/umn.edu/forms/d/e/1FAIpQLSf6OHrj6YIcn8yNe6sWgQJ_iJfElDZgozUCSdATzePwLqul5Q/viewform'>Contact Project Team</a>
                      </li>
                      <li>
                        <a href='http://www.btaa.org/homepage'>Big Ten Academic Alliance Homepage</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </section>

    <footer>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12' id='footer-lib'>
            <div class='row'>
              <div class='col-xs-12 col-sm-12'>
                <div class='pull-left hidden-xs'>
                  <%= link_to image_tag('um-logo.gif', alt: 'University Libraries', id: 'university-libraries', title: 'University Libraries', height: '80px', width: '80px' ), 'https://www.lib.umd.edu/' %>
                </div>
                <div class='pull-left' style='margin-left:2rem;'>
                  <h2 class='h3' style='margin-top:0;'>University of Maryland Libraries</h2>
                  <ul class='list-unstyled'>
                    <li>
                      <a href='https://www.lib.umd.edu'>Library Homepage</a>
                    </li>
                    <li>
                      &nbsp;
                    </li>
                  </ul>
                </div>
                <div class='pull-left' style='margin-top:2rem;'>
                <p>
                  <small>
                    &copy; 2016 University Libraries, University of Maryland.
                    <br>
                    <a href='http://www.lib.umd.edu/about/privacy'>Privacy Policy</a>
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </footer>
