<% provide(:title, "Welcome") %>

<div role="main" id="main-container" class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div id='project-text'>
          <p>The institutions listed below agree to provide reciprocal
          borrowing privileges to current faculty, emeritus faculty,
          students, and staff at the other Big Ten Academic Alliance
          (BTAA) member libraries. Borrowing privileges are governed by
          the lending library based on local circulation policies
          established for guest borrowers. To make use of this service,
          borrowers must present an institutional photo ID and verify
          their current affiliation by authenticating through use of this
          BTAA Reciprocal Borrowing Application.</p>

          <p>Please select the lending institution.</p>
        </div>

        <ul id="organization_list">
          <% @org_list.each do |org| %>
            <% lending_org_code = org[:code] %>
            <% lending_org_name = org[:name] %>
            <li id="<%= lending_org_code + "_entry" %>">
            <a href="/authenticate/<%= lending_org_code %>"><%= lending_org_name %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
