<% provide(:title, "Welcome") %>

    <section>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='row'>
              <div id='project-text'>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="home-metadata" role="main">
      <div class='container'>
        <div class='row'>
          <div class='col-sm-12'>
            <ul>
              <li><a href="http://www.google.com">University of Illinois</a></li>
              <li><a href="http://www.google.com">Indiana University</a></li>
              <li><a href="http://www.google.com">University of Iowa</a></li>
              <li><a href="http://192.168.33.20/initiate/umd">University of Maryland</a></li>
              <li><a href="http://www.google.com">University of Michigan</a></li>
              <li><a href="http://www.google.com">Michigan State University</a></li>
              <li><a href="http://www.google.com">University of Minnesota</a></li>
              <li><a href="http://www.google.com">University of Nebraska-Lincoln</a></li>
              <li><a href="http://www.google.com">Northwestern University</a></li>
              <li><a href="http://www.google.com">Ohio State University</a></li>
              <li><a href="http://www.google.com">Pennsylvania State University</a></li>
              <li><a href="http://www.google.com">Purdue University</a></li>
              <li><a href="http://www.google.com">Rutgers University</a></li>
              <li><a href="http://www.google.com">University of Wisconsin-Madison</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
