<% provide(:title, "Hosting") %>

<div role="main" id="main-container" class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2>Hosting and Technology</h2>

        <p>The Reciprocal Borrowing application is built with the <a href="http://rubyonrails.org/">Ruby on Rails</a>
        web framework and <a href="https://shibboleth.net/">Shibboleth federated identity management</a> technologies.
        The source code is available at the GitHub <a
          href="https://github.com/umd-lib/reciprocal-borrowing">umd-lib/reciprocal-borrowing</a> repository. The
        application is built and hosted by the <a href="http://www.lib.umd.edu">University of Maryland Libraries</a> <a
          href="http://www.lib.umd.edu/dss">Digital Systems and Stewardship</a> division.</p>

        <ul>
          <li><a href="http://www.lib.umd.edu/about/privacy-info">Privacy Information</a></li>
          <li><a href="http://it.umd.edu/aup">Acceptable Use of IT Resources</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
