<section id="footer-app">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="footer-lib">
        <div class="row">
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <h3>Big Ten Academic Alliance Reciprocal Borrowing</h3>
                <ul class="list-horizontal list-unstyled">
                  <li>
                  <a href="http://www.btaa.org/projects/library/reciprocal-borrowing/introduction">About Reciprocal Borrowing</a>
                  </li>
                  <li>
                  <a href="mailto:support@btaa.org?subject=Reciprocal%20Borrowing:%20Contact%20Us">Contact Us</a>
                  </li>
                  <li>
                  <a href="http://www.btaa.org/about">Big Ten Academic Alliance Homepage</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

<footer aria-label="University of Maryland">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="pull-left">
              <p>
              <a href="<%= url_for :hosting %>">Hosted by the University of Maryland Libraries</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
