    <section id="application-footer">
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12' id='footer-lib'>
            <div class='row'>
              <div class='col-sm-10'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <h3>Big Ten Academic Alliance Reciprocal Borrowing</h3>
                    <ul class='list-horizontal list-unstyled'>
                      <li>
                        <a href="/about">About Us</a>
                      </li>
                      <li>
                        <a href='https://docs.google.com/a/umn.edu/forms/d/e/1FAIpQLSf6OHrj6YIcn8yNe6sWgQJ_iJfElDZgozUCSdATzePwLqul5Q/viewform'>Contact Project Team</a>
                      </li>
                      <li>
                        <a href='http://www.btaa.org/homepage'>Big Ten Academic Alliance Homepage</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </section>

    <footer>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12' id='footer-lib'>
            <div class='row'>
              <div class='col-xs-12 col-sm-12'>
                <div class='pull-left hidden-xs'>
                  <%= link_to image_tag('um-logo.gif', alt: 'University Libraries', id: 'university-libraries', title: 'University Libraries', height: '80px', width: '80px' ), 'https://www.lib.umd.edu/' %>
                </div>
                <div class='pull-left' style='margin-left:2rem;'>
                  <h2 class='h3' style='margin-top:0;'>University of Maryland Libraries</h2>
                  <ul class='list-unstyled'>
                    <li>
                      <a href='https://www.lib.umd.edu'>Library Homepage</a>
                    </li>
                    <li>
                      &nbsp;
                    </li>
                  </ul>
                </div>
                <div class='pull-left' style='margin-top:2rem;'>
                  <p>
                    <small>
                      &copy; 2016 University Libraries, University of Maryland.
                      <br>
                      <a href='http://www.lib.umd.edu/about/privacy'>Privacy Policy</a>
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
