<header>
  <div id="btaa-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="cic-header-navbar" class="navbar navbar-static-top">
            <div class="navbar-header">
              <%= link_to image_tag('btaa-logo.jpg', alt: 'Big Ten Academic Alliance', height: '100px', style: 'margin-top:5px'), 'https://www.btaa.org/about' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="application-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="header-navbar" class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Reciprocal Borrowing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
