<header>
  <div id="btaa-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav id="cic-header-navbar" class="navbar">
            <%= link_to image_tag('btaa-logo.jpg', alt: 'Big Ten Academic Alliance', height: '100px', style: 'margin-top:5px'), 'https://www.btaa.org/about' %>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div id="application-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav id="header-navbar" class="navbar" role="navigation">
            <a class="navbar-brand" href="/">Reciprocal Borrowing</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
